{%include 'header.html.twig' %}
<div id="pageContainer">
<h1>{{ pageTitle| default("Brak tytulu podstrony") }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    <label for="uploadedFileInput">
        Wybierz plik do wgrania na serwer:
    </label>
   <input type="file" name="uploadedFile" id="uploadedFileInput" required>
   <input type="submit" value="Wyslij plik" name="submit">
</form>
</div>
{%include 'footer.html.twig' %}